{% liquid
  assign cart_trial_items = 0
  assign allowed_trial = true
  assign allowed_tags = app.metafields.settings.allowedTags | split: ","

  for item in cart.items 
    if item.selling_plan_allocation
      assign cart_trial_items = cart_trial_items | plus: item.quantity
    endif
  endfor

  if allowed_tags.size > 0
    assign allowed_trial = false
    if customer.id
      if customer.tags.size > 0
        for tag in customer.tags
          if allowed_tags contains tag
            assign allowed_trial = true
          endif
        endfor
      endif
    endif
  endif
%}

{% if allowed_trial %}
<div class="tryonify-embed" data-embed-target="{{ block.settings.embed_target }}">
  <div class="tryonify-selling-plan-wrapper">
    {% if block.settings.style == 'expanded' %}
      {% render 'expanded', cart_trial_items: cart_trial_items, show_buy_now_price: block.settings.show_buy_now_price %}
    {% endif %}
  
    {% if block.settings.style == 'compact' %}
      {% render 'compact', cart_trial_items: cart_trial_items, button_text: block.settings.button_text, button_class: block.settings.button_class %}
    {% endif %}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Trial Offers",
  "templates": ["product"],
  "target": "body",
  "stylesheet": "styles.css",
  "javascript": "add-plan.js",
  "settings": [
    {
      "type": "text",
      "id": "embed_target",
      "label": "Embed target",
      "info": "Insert trial options into HTML element with this selector. Multiple add to cart forms require the target to be placed inside the form."
    },
    {
      "type": "radio",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "expanded",
          "label": "Expanded"
        },
        {
          "value": "compact",
          "label": "Compact"
        }
      ]
    },
    {
      "type": "header",
      "content": "Expanded Styling"
    },
    {
      "type": "checkbox",
      "id": "show_buy_now_price",
      "label": "Show Buy Now price",
      "default": false
    },
    {
      "type": "header",
      "content": "Compact Styling"
    },
    {
      "type": "paragraph",
      "content": "These settings are used when the app block style is set to Compact."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Try For Free"
    },
    {
      "type": "text",
      "id": "button_class",
      "label": "Button Class",
      "default": "tryonify-button"
    }
  ]
}
{% endschema %}